
a       {color: #c86400;}
a:hover {color: #c86400;}
.main-navigation li {border-bottom: 1px solid #c86400;}
#content-header h1 {color: #944a00;}
.entry-list-header a {color: #944a00;}
.entry-list-header a:hover {color: #944a00;}
.entry-content blockquote {border-left: 4px solid #c86400;}
