
a       {color: #8500c8;}
a:hover {color: #8500c8;}
.main-navigation li {border-bottom: 1px solid #8500c8;}
#content-header h1 {color: #630094;}
.entry-list-header a {color: #630094;}
.entry-list-header a:hover {color: #630094;}
.entry-content blockquote {border-left: 4px solid #8500c8;}
